<<<<<<< HEAD
<div class="jumbotron">
    <h1 class="display-4">ALPHA BLOG</h1>
    <%= link_to 'Sign Up', '', class: "btn btn-danger btn-lg btn-xlarge" %>
    <%= link_to 'About', about_path, class: "btn btn-danger btn-lg btn-xlarge" %> 
</div>
=======
<h1>This is the home page</h1>

<%= link_to 'About', about_path %> |
<%= link_to 'Articles', articles_path %>
>>>>>>> 8c184012ba4d5ffe91c2a3879b012d7892cf5c23
